@page "/"
@model WebProject.Pages.Servicii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Personal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].DataInfiintarii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].Marca.MarcaNume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu[0].ServiciuCategorii)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ServiciuD.Servicii) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Personal.Nume)
                    @Html.DisplayFor(modelItem => item.Personal.Prenume)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInfiintarii)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.MarcaNume)
                </td>
                <td>
                    @{
                        foreach (var category in item.ServiciuCategorii)
                        {
                            @category.Categorie.ID @: @category.Categorie.CategorieNume <br />
                        }
                    }
                </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
